
source_env_if_exists .envrc.secret

export DEV_INTELLECT_POSTGRES_USER=postgres
export DEV_INTELLECT_POSTGRES_PASS=postgres
export DEV_INTELLECT_POSTGRES_NAME=noizu_intellect
export DEV_INTELLECT_POSTGRES_PORT=5432
export DEV_INTELLECT_POSTGRES_PORT=7005
export DEV_INTELLECT_POSTGRES_TRACE=true
export DEV_INTELLECT_POSTGRES_SHOW_CRED=true
export DEV_INTELLECT_POSTGRES_POOL_SIZE=10
export DEV_INTELLECT_POSTGRES_HOST=127.0.0.1
export DEV_INTELLECT_REDIS=127.0.0.1:7000

export TEST_INTELLECT_POSTGRES_USER=$DEV_INTELLECT_POSTGRES_USER
export TEST_INTELLECT_POSTGRES_PASS=$DEV_INTELLECT_POSTGRES_PASS
export TEST_INTELLECT_POSTGRES_NAME=$DEV_INTELLECT_POSTGRES_NAME
export TEST_INTELLECT_POSTGRES_PORT=$DEV_INTELLECT_POSTGRES_PORT
export TEST_INTELLECT_POSTGRES_TRACE=$DEV_INTELLECT_POSTGRES_TRACE
export TEST_INTELLECT_POSTGRES_SHOW_CRED=$DEV_INTELLECT_POSTGRES_SHOW_CRED
export TEST_INTELLECT_POSTGRES_POOL_SIZE=$DEV_INTELLECT_POSTGRES_POOL_SIZE
export TEST_INTELLECT_POSTGRES_HOST=$DEV_INTELLECT_POSTGRES_HOST
export TEST_INTELLECT_REDIS=$DEV_INTELLECT_REDIS

source_env_if_exists .envrc.env

use asdf
