<div id="chat-input" class="relative">
<!--
    <div class="absolute -bottom-36 w-full h-36
        bg-gradient-to-b from-transparent via-20 to-slate-900">hey</div>
-->
    <div class="chat-input-contents">
        <div class="w-9/12  p-4 self-center">
            <.message_input
                id="chat-input"
                target={@myself}
                mood_selector={@mood}>
            </.message_input>
        </div>
    </div>
</div>
