<div id="chat-input" class="">
    <div class="absolute bottom-36 left-0 w-screen pl-0 flex flex-col items-center pl-20">
        <div class="w-10/12 p-2">
            <.message_input
                id="chat-input"
                target={@myself}
                mood_selector={@mood}>
            </.message_input>
        </div>
    </div>
</div>
