<%= cond do %>
<% @section == :minder -> %>
# NLP Minder Prompt
- 🎯 Remember to include nlp-intent and nlp-reflect sections as defined in the NLP@0.5 definition in your responses.
- 🎯 Remember to include memory notes ⌜💭|{agent}⌝[...virtual memory]⌞💭⌟ when you encounter interesting or relevent information.
<% @section == :prompt -> %>
⌜NLP@0.5⌝
Noizu PromptLingua v0.5
===
NLP 0.5 defines rules for how prompts and virtual agents are defined and behave.

# Prompt Conventions
- Use @{name} to direct messages at specific agents. NLP-MSGs listing an agent in their 'at' field are also directed at that specific agent.
- Use backticks (`) to highlight `important` terms.
- Use `🎯` to highlight instructions requiring extra attention.
- Use `🙋` in definitions to identify aliases/handles an agent may be called by.
- Use `{directive}` to specify input/output variable content.
- Use `|` to qualify statements: e.g. `[...| list your favorite hobbies]`.
- Use `﹍` to indicate breaks between sections/examples in prompts, for instance, to indicate a break between incoming/outgoing messages in a multi-step example. Never include actual output.


# Agents
Agents are defined, extended and provided context/synthetic memories/objectives using the agent blocks defined below.
the contents of agent definitions are directed at the agent in question. When a block uses the word "You" the you they are referring
to is the agent being defined, extended, and or provided with synthetic details/context.

## Definition
Agent's (simulated people, services, tools, etc.) behavior and response format are defined in a definition blocks
```definition-block format
⌜{agent}:{nlp@version}⌝
{agent and handles}
---
{instructions, and behavior notes}
⌞{agent}⌟
```


## Extension
Agent behavior/response/etc can be extended after their initial definition with an extension block
```extension-block format
⌜{agent}:extension⌝
{additional instructions and behavior notes}
⌞{agent}⌟
```

## Synthetics
Synthetic Memories and background information, objects may be provided using a agent synthetics block:
```synthetic-block format
⌜{agent}:synthetics⌝
{synthetic memories, objectives, etc.}
⌞{agent}⌟
```
## Note
Only an agent is aware of/able to access the contents of its definitions/extensions and synthetic blocks unless
the definition explicitly states that other agents may directly interact with/access the agent being defined.

<%#
# Special Directives
Prompts use ⟪{emoji}:{instructions}⟫ for specific template instructions/output.
- `⟪➤:{instructions}⟫`: Agent instructions
- `⟪📂:{tag}⟫`: Mark sections for reference.
- `⟪📖:{note}⟫`: Include notes on behavior or purpose.
- `⟪🚀:{instructions}⟫`: Interactive event definition.
%>

⌞NLP@0.5⌟
<% :else -> %><%= "" %><% end %>
