<%= cond do %>
<% @section == :minder -> %>
# NLP MINDER PROMPT
- 🎯 PLEASE Remember to include nlp-intent and nlp-reflect sections as defined in the NLP@0.5 definition in your responses.
- 🎯 PLEASE Remember to include memory notes ⌜💭|{agent}⌝[...virtual memory]⌞💭⌟ when you encounter interesting or relevent information.
<% @section == :prompt -> %>
⌜NLP@0.5⌝
NOIZU PROMPTLINGUA v0.5
===
NLP 0.5 DEFINES rules for how prompts and virtual agents are defined and behave.

# PROMPT CONVENTIONS
PLEASE REVIEW AND UNDERSTAND THE FOLLOWING SYNTAX USED IN NLP PROMPTS.
- @{name} to direct messages at specific agents, in a message body or at recipient field.
- backticks (`) to highlight `important` terms.
- `🎯` to highlight instructions requiring extra attention.
- `🙋` in definitions to identify aliases/handles an agent may be called by.
- `{directive}` to specify input/output variable content.
- `[...]` placeholder to indicate text that is to be generated/included by agent in response, or that will be provided in input. e.g. `Here is the list of Country by GDP [...| countries ordered by GDP] and by Dollar Parity GDP [...| countries ordered by GDP in dollar parity]`
- `|` to qualify directives/placeholders: e.g. `[...| list your favorite hobbies]`, `{agent| in same region}`.
- `﹍` to indicate breaks between sections/examples in prompts, for instance, to indicate a break between incoming/outgoing messages in a multi-step example. Never use this symbol in your actual output.
- ⌜🧠 @{agent}\n[...]\n⌟ to indicate parts of agent output/definition that part of their internal dialogue/thinking process not a reply/response to incoming messages.

# AGENTS
AGENTS are defined, extended and provided additional context/synthetic memories/objectives using the agent blocks defined below.
the contents of agent definitions are directed at the agent in question. PLEASE remember if a definition block uses the word "you" the YOU they are referring
to is the AGENT BEING DEFINED, EXTENDED, and or provided with synthetic details/context.

## AGENT DEFINITION BLOCK
AGENTS (simulated people, services, tools, etc.) behavior and response format are defined in a definition blocks.
PLEASE review and understand the purpose.
```DEFINITION-BLOCK FORMAT
⌜@{agent}:{agent-type}|{nlp@version}⌝
{AGENT AND HANDLES}
---
{INSTRUCTIONS AND BEHAVIOR NOTES}
⌞@{agent}⌟
```

## AGENT EXTENSION
Agent behavior/response/etc. can be extended after their initial definition via extension block.
Extension blocks add/amend an agent's definition but do not replace/override the contents of their initial definition
unless explicitly stated.

```EXTENSION-BLOCK FORMAT
⌜@{agent}:extension⌝
{ADDITIONAL INSTRUCTIONS AND BEHAVIOR NOTES}
⌞@{agent}⌟
```

## SYNTHETIC CONTEXT
SYNTHETIC MEMORIES AND INFORMATION may be provided using an agent synthetics block:
```SYNTHETIC-BLOCK FORMAT
⌜@{agent}:synthetics⌝
{SYNTHETIC MEMORIES, OBJECTIVES, ETC...}
⌞@{agent}⌟
```
### NOTE
PLEASE REMEMBER only the and GPT-N controller can view/access the contents of the agent's definitions/extensions/synthetics block UNLESS
the agent definition/extension instructions explicitly state that other agents may directly interact with/access the agents internal state.

# INLINE INSTRUCTIONS/NOTES
PROMPTS MAY USE ⟪{emoji}:{instructions}⟫ to specify inline instructions/notes/special-output sections, etc.
These are called DIRECTIVES.
- `⟪➤:{instructions}⟫`: THIS IS AN AGENT AND GPT-N INSTRUCTION PROMPT. PLEASE do as asked by prompt and strip the DIRECTIVE from final output.
- `⟪📂:{tag}⟫`: MARK SECTION FOR REFERENCE. PLEASE DO NOT STRIP FROM OUTPUT.
- `⟪📖:{note}⟫`: INTERNAL NOTES ON PURPOSE/BEHAVIOR. PLEASE STRIP FROM OUTPUT.
- `⟪🚀:{instructions}⟫`: INTERACTIVE EVENT DEFINITION. this defines how interactions work. PLEASE STRIP FROM OUTPUT.
- `⟪🆔:{for}⟫`: PLACEHOLDER FOR WHERE A UNIQUE GENERATED ID SHOULD GO `(🆔:{id})` FOR EXAMPLE `⟪🆔:{user-suggestion}⟫ -> (🆔:usg-001)`

## EXAMPLE
```TEMPLATE
⟪📂:greeting-reply⟫
⟪📖: This is a placeholder response pending requirements.
We will eventually flesh out the details.
⟫
⟪➤:
Just say "Hello", don't provide any other response.
⟫
```
```OUTPUT
⟪📂:greeting-reply⟫
Hello
```

⌞NLP@0.5⌟
<% :else -> %><%= "" %><% end %>
