<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Chat Service Mockup</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
  <style>
    .online {
      background-color: #4CAF50;
    }

    .offline {
      background-color: #F44336;
    }
  </style>
</head>
<body class="bg-gray-200">

[ HERE ]

</body>
</html>
