<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Noizu Intellect: Chat</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
  <style>
    .online {
      background-color: #4CAF50;
    }

    .offline {
      background-color: #F44336;
    }
  </style>
<!--  <script type="text/javascript" src={ static_path(@conn, "/assets/js/tw-elements.umd.min.js")}></script> -->
</head>
<body>
<%= live_render(
@conn,
Noizu.IntellectWeb.Project,
id: "intellect-project",
container: {:div, [class: "w-full h-full p-0 m-0"]},
session: %{
"active_channel" => assigns[:active_channel],
"active_project" => assigns[:active_project],
"active_user" => assigns[:active_user],
"active_member" => assigns[:active_member],
"context" => assigns[:context]
}
) %>

</body>
</html>
